@import '~scss/settings/_global-variables';

$btn-default-bg-color: $white; 

$btn-success-bg-color: $success-color;
$btn-success-color: $white;

$btn-danger-bg-color: $red;
$btn-danger-color: $white;

$btn-warning-bg-color: $yellow;